.cover-image {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(images/ass-cover.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  height: 380px;
}
